body {
    background-color: rgb(191, 190, 246);
    color: rgb(90, 6, 108);
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: rgb(191, 190, 246);
    color: rgb(94, 32, 16);
    font-family: Arial;
    margin: 0px;
}
footer {
    background-color: rgb(209, 178, 216);
    color: rgb(46, 7, 78);
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: rgb(176, 132, 164);
    color: rgb(90, 6, 108);
    font-family: Arial;
    margin: 0px;
}
a {
    text-decoration: none;
    transition: 1s 2s;
  }
a:link {
    color: rgb(108, 11, 183);
}
a:visited {
    color: rgb(255, 230, 0);
}
a:hover {
    color: rgb(204, 0, 255);
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgba(0, 100, 200, 0.3);
    transition: 0.5;
  }
a:active {
    color: rgb(37, 167, 203);
    opacity: 0.9;
  }